{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 55.83242418908668,
    "longitude": -4.281875342157947,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/London",
    "external_url": null,
    "internal_url": null,
    "currency": "GBP",
    "country": "GB",
    "language": "en-GB",
    "radius": 100
  }
}